version: "3.8"

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redisdata:/data
    command: redis-server --requirepass QWERTY --appendonly yes 
    healthcheck:  
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
volumes:
  redisdata: